@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fontsource/poppins/100.css";
@import "~@fontsource/poppins/200.css";
@import "~@fontsource/poppins/300.css";
@import "~@fontsource/poppins/400.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/600.css";
@import "~@fontsource/poppins/700.css";
@import "~@fontsource/poppins/800.css";
@import "~@fontsource/poppins/900.css";

html body {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mantine-InputWrapper-label {
  font-weight: 600;
}

.mantine-Input-input {
  border: solid 1px gray;
}

a.link {
  @apply cursor-pointer font-medium text-indigo-600 hover:text-indigo-700 hover:underline;
}
